    .outer-container {
        max-width: 1344px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 10px;
    }

    .sidenav-wrap {
        width: 29%;
        float: left;
        padding: 35px;
    }

    .nav-list-bgcolor {
        background-color: #3894ac;
    }

    .orange-btn {
        height: 100px;
        width: 100%;
        color: white;
        background-color: #e56f00;
        display: inline-block;
        font-family: Source Sans Pro,sans-serif;
        font-size: 22px;
        font-weight: lighter;
        line-height: 1;
        padding: 16px;
        vertical-align: middle;
        white-space: nowrap;
    }

    .list-group-item {
        font-size: 13px
    }

    .nav-line {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .text-center {
        text-align: center;
    }

    .dropdown-list {
        color: black;
    }

    .stay-color {
        color: black;
        text-decoration: none;
    }

    .request-title {
        font-weight: bold; 
        color: #10475a; 
        font-family: Montserrat,sans-serif; 
        letter-spacing:1.5px;
    }
    
    .top-requests-title {
         color: white; 
         padding-left: 18px; 
         padding-top: 20px; 
         padding-bottom: 20px; 
         font-family: Montserrat,sans-serif; 
         font-weight: bolder;
    }
    
    .current-news {
        max-width: 500px;
        padding: 25px;
        cursor: pointer;
    }

    .read-more{
         color: #e56f00;
         font-family: Source Sans Pro,sans-serif; 
         font-weight: 700;
         letter-spacing: 2px;
    }
    
    .card-title-style {
        color: #3894ac; 
        font-size: 20px;
        font-family: Montserrat,sans-serif;
    }

    .card-details {
        color: #e56f00;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        padding-left: 40px;
    }

    .open-prov-card-title {
        font-family: Montserrat, sans-serif;
        letter-spacing: 1px;
        color: #10475a;
    }

    .open-prov-card-body {
        font-family: Source Sans Pro, sans-serif;
        margin-bottom: 10px;
        font-weight: lighter;
        padding-left: 40px;
        color: #6a6a6a;
    }
    
    .small-img {
        float: left; 
        margin-right: 20px;
    }
    
    .open-providence-card {
        border: none; 
        background-color: #f7f7f7;
    }
    
    .mayor-services {
        color: #10475a;
        font-family: Montserrat,sans-serif;
        font-weight: 400;
        margin: 38px 0 8px;
        text-align: center;
    }
    
    .trash-potholes {
        font-family: Source Sans Pro,sans-serif;
        margin-bottom: 24px;
        color: #6a6a6a;
        text-align: center;
    }
    
    .three-eleven-submit {
        -webkit-appearance: none;
        background-color: #fff;
        border: 2px solid #3894ac;
        border-radius: 0;
        color: #3894ac;
        cursor: pointer;
        display: inline-block;
        font-family: Source Sans Pro,sans-serif;
        font-size: 1em;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        line-height: 1;
        padding: 1em;
        text-decoration: none;
        -webkit-transition: background-color .15s ease;
        transition: background-color .15s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    
    .city-hall-title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.7px;
        text-transform: uppercase;
        font-family: Montserrat,sans-serif;
        color: #10475a;
        font-weight: 700;
        margin-bottom: 0;
        text-align: left;
    }
    
    .city-hall-info {
        color: #6a6a6a;
        font-family: Source Sans Pro,sans-serif;
        font-weight: 300;
        margin-bottom: 0;
        text-align: left;
        font-size: 22px;
    }
    
    